.api-list {
	list-style:none;
	padding:0 30px;
	.api-list-item {
		&:hover{
			cursor:pointer;
		}
	  padding:10px  5px;
	  border-top:1px solid #ccc;
	  display:flex;
	  justify-content: space-between;
	  .item-text {
	  	flex:1;
	  }
	  &:nth-child(2n+1) {
	  	background:#D8E2E9;
	  }
	  &.api-list-header {
	  	background:#5EB87B;
	  	color:#fff;
	  }
	}
}